.PageTwoPopUp {
    position: absolute;
    top: 5%;
    background: rgb(8, 8, 8);
    background: linear-gradient(133deg, rgb(16, 16, 16) 0%, rgb(34, 34, 41) 50%, rgb(16, 16, 16) 90%, rgb(20, 20, 20) 100%);
    box-shadow: 1px 1px 10px 1000px rgba(0, 0, 0, .45);
    width: 90%;
    right: 5%;
    z-index: 1;
    border-radius: 20px;
    padding-bottom: 2.5rem;
}

.ProfilePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -1rem 0;
}

.ProfileTag {
    color: rgb(201, 201, 201);
    font-style: italic;
    margin: 0 .25rem;
}