.Image {
    margin: -1rem 0 1rem 0;
}

img {
    width: 4rem;
}

@media (max-width: 800px) and (max-height: 900px) {
    img {
        width: 1.5rem;
        margin: 4rem 0 -2rem 0;
    }

    .Image {
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 50%;
        top: 10%
    }
}